
/* TODO */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: beige;
}

/* ENCABEZADO */

.encabezado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.8rem 1rem;
}

#titulo-sitio {
    font-size: 2rem;
    font-weight: bold;
    color: #222;
    font-family: 'Trebuchet MS', 'Segoe UI', sans-serif;
}

#autor {
    font-size: 1rem;
    font-style: italic;
    color: #555;
    font-family: 'Georgia', 'Times New Roman', serif;
}

/* MENÚ */

nav {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #000;
}

nav a {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0px;
}

nav a:last-child {
    border-bottom: none;
}

.nav-menu {
    display: none;
    flex-direction: column;
    background-color: rgba(245, 245, 220, 0.678);
    border: 1px solid black;
    padding: 0; 
    margin-top: 0;
    border-top: 0;
}

.nav-menu a {
    display: block;
    width: 100%;
    padding: 0.75rem 0;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: #000;
    border-bottom: 1px solid #ccc;
    font-family: 'Segoe UI', system-ui, sans-serif;
}

.nav-menu a:visited {
    color: #000
}

.nav-menu.activo {
    display: flex;
}

.btn-menu {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0;
}

/* MAIN */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem 1rem;
    max-width: 800px;
    margin: 0 auto;
    flex: 1;
    box-sizing: border-box;
    width: 100%;
}

main section {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #111;
}

main h2 {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
    color: #333;
}

main p {
    font-size: 1rem;
    line-height: 1.6;
    color: #444;
    max-width: 600px;
}

main img{
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 8px;
    margin: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.contenedor-imagen {
    text-align: center;
    margin-bottom: 0.7rem;
}

main p a{
    color: #0056b3;
    text-decoration: underline;
}

/* FOOTER */

footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    background-color: beige;
    align-items: center;
    padding: 1rem;
    
}

footer div {
    font-size: 1rem;
    line-height: 1.6;
    color: #444;
    text-align: center;
}

.relacionado p, .contactos p {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.25rem;
    text-decoration:underline;
}

footer li {
    text-align: left;
    margin-bottom: 0.4rem;
}

footer ul {
    padding: 0;
    list-style: disc;
}

/* MAIN ACADEMICO */

table {
   width: 100%;
   border: 1px solid;
   margin-bottom: 1rem; 
   border-collapse: collapse;
}

table td, table th {
    border: 1px solid;
    padding: 0.4rem;
}

table tr:nth-child(even) {
    background-color: rgb(238, 235, 229);
}

th {
    padding: 0.25rem;
}

main.academico {
    padding: 1rem 1rem; 
}

main.academico h1 {
    margin-top: 0;
    margin-bottom: 1rem; 
}

main.academico > p {
    margin-bottom: 1rem; 
    line-height: 1.5;      
}

main.academico h2 {
    margin-top: 0;
    margin-bottom: 1rem; 
}

/* FORMULARIO CONTACTO*/

/*
.main-contacto form {
    height: 100%;
    width: 100%;
}

.contenedor-contacto legend {
    font-size: 1rem;
    font-weight: bold;
}


.contenedor-contacto label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Segoe UI', system-ui, sans-serif;
    justify-content: center;
}
*/

.botones {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    width: 100%;
}

/*
.botones button {
    font-size: 1.25rem;
    width: 100%;
    align-self: flex-end;
}

.contenedor-contacto label textarea, label input{
    font-size: 1.15rem;
    border: 1px solid black;
    background-color: rgb(245, 245, 238);
    text-align: center;
}
*/

.contenedor-contacto label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Segoe UI', system-ui, sans-serif;
    justify-content: center;
}

.area-texto {
    width: 69%;
}

textarea {
    width: 100%;
}

.contenedor-contacto input, .contenedor-contacto textarea {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
    border: 1px solid black;
    font-size: 1.3rem;
    text-align: center;
}

/* INICIO DE SESIÓN */

#formulario-login label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Segoe UI', system-ui, sans-serif;
    justify-content: center;
}

#formulario-login {
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
}

#formulario-login button {
    display: block;
    font-size: 1.25rem;
    width: 100%;
}

#formulario-login input {
    margin: 0.75rem 0rem 0.75rem 0rem;
    border: 1px solid black;
    font-size: 1.3rem;
    text-align: center;
}

#datos span {
    font-family: 'Segoe UI', system-ui, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

#top {
    text-decoration: underline;
}

/* ADMINISTRACIÓN */

#agregar-materia button {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.botones-administrar button {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
}

/* AGREGAR MATERIA */

form {
    width: 100%;
    font-family: 'Segoe UI', system-ui, sans-serif;
}

fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

button {
    font-size: 1.25rem;
    width: 100%;
}

legend {
    margin-bottom: 1rem;
}

input, textarea{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border: 1px solid black;
    font-size: 1.5rem;
    background-color: rgb(245, 245, 238);
    text-align: center;
    display: block;
}

#formulario-crear label {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

/* EDITAR MATERIA */

 /*
form {
    width: 100%;
    font-family: 'Segoe UI', system-ui, sans-serif;
*/

/* todo depende de como haya acomodado los inputs y labels */
/* si quedo uno despues de otro uso block */
/* sino uso flex */

#formulario-editar label {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

/*
fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}
*/

/* Termine haciendo el html de los formularios todos distintos.
   Por eso tuve tantos problemas a la hora de definir el estilo de
   los mismos. Solo deberia arreglar el de contacto para dejar todos 
   iguales
*/

/* PARTE RESPONSIVE */

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Por defecto en celulares (Mobile First) toma 100% */

[class*="col-"] {
    float: left;
    padding: 10px;
    width: 100%; 
}

.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
}

/* TABLET */

@media only screen and (min-width: 600px) {

    .col-s-1 { width: 8.33%; }
    .col-s-2 { width: 16.66%; }
    .col-s-3 { width: 25%; }
    .col-s-4 { width: 33.33%; }
    .col-s-5 { width: 41.66%; }
    .col-s-6 { width: 50%; }
    .col-s-7 { width: 58.33%; }
    .col-s-8 { width: 66.66%; }
    .col-s-9 { width: 75%; }
    .col-s-10 { width: 83.33%; }
    .col-s-11 { width: 91.66%; }
    .col-s-12 { width: 100%; }

    /* La idea era tener 3 menús, uno para cada formato de pantalla, pero dado el diseño de mi página no termina siendo conveniente por eso tablet y mayores usan el mismo.*/

    /*
    .btn-menu {
        display: none;
    }

    .nav-menu {
        display: block !important;
        margin-top: 1rem;
    }

    .nav-menu a{
        display: block;
        width: 100%;
       
    }
    */

    .btn-menu {
        display: none;
    }

    .nav-menu {
        display: flex !important;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .nav-menu a{
        height: 100%;
        border: 1px solid;
        flex: 1;
        border-bottom: 0px;
    }

    .nav-menu a:hover {
    background-color: #e2dcca;
    }

    main.col-12 {
        float: none !important;
        max-width: 800px; 
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center;
    }

    /* Centra textos e imágenes */
    main h1, main h2, main p {
        text-align: center;
    }

    main p {
        text-align: center !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

}

/* PARA PC */

@media only screen and (min-width: 768px){

    .col-1 { width: 8.33%; }
    .col-2 { width: 16.66%; }
    .col-3 { width: 25%; }
    .col-4 { width: 33.33%; }
    .col-5 { width: 41.66%; }
    .col-6 { width: 50%; }
    .col-7 { width: 58.33%; }
    .col-8 { width: 66.66%; }
    .col-9 { width: 75%; }
    .col-10 { width: 83.33%; }
    .col-11 { width: 91.66%; }
    .col-12 { width: 100%; }

}

/* ERRORES EN FORMULARIOS */

small, .error {
    color: red;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 1.25rem;
}

.input-error {
    border: 2px solid red !important;
}

input:disabled {
    background-color: #aaaaaa;
}

.error {
    margin: 0.75rem 0rem 0.75rem 0rem;
}

.exito {
    color: green;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 1.25rem;
    margin: 0.75rem 0rem 0.75rem 0rem;    
}

select {
    margin: 0.75rem 0rem 0.75rem 0rem;
    border: 1px solid black;
    font-size: 1.48rem;
    text-align: center;
    width: 18rem;
    box-sizing: border-box;
    display: block;
    background-color: rgb(245, 245, 238)
}





